<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>校园饭tuan</title>
    <script src="/static/jquery/jquery.min.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
    </style>
    <script>
        const orderBean = {
            "orderid": 323,
            "tradeno": "15899944751805149",
            "shoppingcart": [{
                "id": 1,
                "num": 1,
                "name": "肉松饭团",
                "tprice": 6,
                "tmemberprice": 5.5,
                "index": 0,
                "parentIndex": 0,
                "imagepath": ""
            }, {
                "id": 2,
                "num": 1,
                "name": "芝士饭团",
                "tprice": 8,
                "tmemberprice": 7.5,
                "index": 1,
                "parentIndex": 0,
                "imagepath": ""
            }, {
                "id": 3,
                "num": 1,
                "name": "奥尔良鸡肉饭团",
                "tprice": 9,
                "tmemberprice": 8,
                "index": 2,
                "parentIndex": 0,
                "imagepath": ""
            }, {
                "id": 4,
                "num": 1,
                "name": "鸡柳饭团",
                "tprice": 6,
                "tmemberprice": 5.5,
                "index": 3,
                "parentIndex": 0,
                "imagepath": ""
            }, {
                "id": 5,
                "num": 1,
                "name": "香肠饭团",
                "tprice": 6,
                "tmemberprice": 5.5,
                "index": 4,
                "parentIndex": 0,
                "imagepath": ""
            }, {
                "id": 6,
                "num": 1,
                "name": "培根饭团",
                "tprice": 6,
                "tmemberprice": 5.5,
                "index": 5,
                "parentIndex": 0,
                "imagepath": ""
            }, {
                "id": 7,
                "num": 1,
                "name": "鸡排饭团",
                "tprice": 9,
                "tmemberprice": 8,
                "index": 6,
                "parentIndex": 0,
                "imagepath": ""
            }, {
                "id": 8,
                "num": 1,
                "name": "鸡柳香肠饭团",
                "tprice": 9,
                "tmemberprice": 8,
                "index": 7,
                "parentIndex": 0,
                "imagepath": ""
            }, {
                "id": 9,
                "num": 1,
                "name": "鸡柳煎饼",
                "tprice": 6,
                "tmemberprice": 6,
                "index": 0,
                "parentIndex": 1,
                "imagepath": ""
            }, {
                "id": 10,
                "num": 1,
                "name": "热狗煎饼",
                "tprice": 6,
                "tmemberprice": 6,
                "index": 1,
                "parentIndex": 1,
                "imagepath": ""
            }, {
                "id": 11,
                "num": 1,
                "name": "鸡排煎饼",
                "tprice": 8,
                "tmemberprice": 7,
                "index": 2,
                "parentIndex": 1,
                "imagepath": ""
            }, {
                "id": 12,
                "num": 1,
                "name": "培根煎饼",
                "tprice": 6,
                "tmemberprice": 6,
                "index": 3,
                "parentIndex": 1,
                "imagepath": ""
            }, {
                "id": 18,
                "num": 1,
                "name": "凉粉",
                "tprice": 8,
                "tmemberprice": 7,
                "index": 0,
                "parentIndex": 3,
                "imagepath": ""
            }, {
                "id": 13,
                "num": 2,
                "name": "手抓饼",
                "tprice": 31,
                "tmemberprice": 30,
                "index": "0",
                "parentIndex": 2,
                "imagepath": "",
                "items": [{
                    "childs": [{
                        "id": 16,
                        "num": 1,
                        "name": "培根",
                        "tprice": 2,
                        "parentIndex": 2,
                        "index": 0
                    }, {
                        "id": 15,
                        "num": 1,
                        "name": "热狗",
                        "tprice": 2,
                        "parentIndex": 2,
                        "index": 0
                    }, {
                        "id": 14,
                        "num": 1,
                        "name": "鸡柳",
                        "tprice": 2,
                        "parentIndex": 2,
                        "index": 0
                    }, {
                        "id": 24,
                        "num": 1,
                        "name": "煎鸡蛋",
                        "tprice": 1.5,
                        "parentIndex": 2,
                        "index": 0
                    }, {
                        "id": 17,
                        "num": 1,
                        "name": "鸡排",
                        "tprice": 4,
                        "parentIndex": 2,
                        "index": 0
                    }],
                    "parentIndex": 2,
                    "index": 0,
                    "totalprice": 15.5,
                    "memberprice": 15
                }, {
                    "childs": [{
                        "id": 16,
                        "num": 1,
                        "name": "培根",
                        "tprice": 2,
                        "parentIndex": 2,
                        "index": 0
                    }, {
                        "id": 15,
                        "num": 1,
                        "name": "热狗",
                        "tprice": 2,
                        "parentIndex": 2,
                        "index": 0
                    }, {
                        "id": 14,
                        "num": 1,
                        "name": "鸡柳",
                        "tprice": 2,
                        "parentIndex": 2,
                        "index": 0
                    }, {
                        "id": 17,
                        "num": 1,
                        "name": "鸡排",
                        "tprice": 4,
                        "parentIndex": 2,
                        "index": 0
                    }, {
                        "id": 24,
                        "num": 1,
                        "name": "煎鸡蛋",
                        "tprice": 1.5,
                        "parentIndex": 2,
                        "index": 0
                    }],
                    "parentIndex": 2,
                    "index": 0,
                    "totalprice": 15.5,
                    "memberprice": 15
                }]
            }, {
                "id": 19,
                "num": 1,
                "name": "凉面",
                "tprice": 8,
                "tmemberprice": 7,
                "index": 1,
                "parentIndex": 3,
                "imagepath": ""
            }, {
                "id": 20,
                "num": 1,
                "name": "凉米线",
                "tprice": 7,
                "tmemberprice": 7,
                "index": 2,
                "parentIndex": 3,
                "imagepath": ""
            }, {
                "id": 21,
                "num": 1,
                "name": "铁板炒面",
                "tprice": 9,
                "tmemberprice": 8,
                "index": 3,
                "parentIndex": 3,
                "imagepath": ""
            }, {
                "id": 22,
                "num": 1,
                "name": "铁板炒米线",
                "tprice": 9,
                "tmemberprice": 8,
                "index": 4,
                "parentIndex": 3,
                "imagepath": ""
            }, {
                "id": 23,
                "num": 1,
                "name": "铁板炒粉丝",
                "tprice": 9,
                "tmemberprice": 8,
                "index": 5,
                "parentIndex": 3,
                "imagepath": ""
            }],
            "openid": "oM_GB4rjG6k2dKlqXxrBb_0fdAWI",
            "bid": 1,
            "branchid": 1,
            "isself": 0,
            "discount": 12.50,
            "totalfee": 154.50,
            "uaddressid": 39,
            "firstorder": 0,
            "ismember": 1
        };


        var settings = {
            "url": "/testJosn",
            // "url": "https://127.0.0.1/testPost",
            "method": "POST",
            "timeout": 0,
            "headers": {
                // "Content-Type": "application/x-www-form-urlencoded"
                "Content-Type": "application/json"
            },
            // "data":{
            //     "orderObj":JSON.stringify(orderBean)
            // }
            "data":JSON.stringify(orderBean)
        }
        $.ajax(settings).done(function (response) {
            console.log(response);
        });
        // $.ajax({
        //     type: 'POST',
        //     url: url,
        //     data: JSON.stringify(orderBean),
        //     contentType: 'application/json',
        //     success: function (data) {
        //         console.log(data)
        //     },
        //     error: function (request) {
        //     }
        // });

    </script>
</head>
<body>
<h1 th:text="${msg}"></h1>

</body>
</html>